.rem:not(.rem-container--focused):not(:hover) .perfect-circle__inner {
  visibility: hidden;
}

.rem[data-rem-tags~="bulletlist"],
[data-rem-container-tags~="bulletlists"] .tree-node--children .rem {
  margin-left: 1rem;
}

#document .rem[data-rem-tags~="bulletlist"] .perfect-circle__inner {
  visibility: visible;
}
#document [data-rem-container-tags~="bulletlists"] > .tree-node--children .rem .perfect-circle__inner {
  visibility: visible;
}

.rn-bullet-container > span {
  display: flex;
  align-items: center;
}

.rn-rem-bullet--hidden-children::before {
  content: "";
  display: block;
  position: relative;
  left: -1.25rem;
  width: 0;
  height: 0;
  border-top: 0.35rem solid transparent;
  border-left: 0.35rem solid black;
  border-bottom: 0.35rem solid transparent;
  border-radius: 25px;
}
.dark .rn-rem-bullet--hidden-children::before {
  border-left: 0.35rem solid #D4D4DA;
}

.hierarchy-editor--ltr .TreeNode, .hierarchy-editor--ltr .TreeNode--list {
  margin-left: 1.5rem;
}

[data-rem-container-tags~="bulletlist"],
[data-rem-container-tags~="bulletlists"] {
    .hierarchy-editor__tag-bar__tag {
        background-color: transparent !important;

        span {
            display: none;
        }
        .rn-tag__close {
            opacity: .3;
        }
    }
}